body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white
  }

  .header {
    font-size: 50px;
    text-align: center;
  }

  .links {
    font-size: 16px;
    color: aquamarine;
    
  }

  .under-video {
      font-weight: 300;
      font-size: 42px;
  }

  .description {
      font-size: 21px;
      color: gray;
  }

  .footer {
      text-align: right;
      color: gray;
  }
  

